.toolbar{
    background-color: #00C5AB;
}
.login{
    color: azure;
}

.login-icon {
    color: #ffff;
    display: flex;
    align-items: center;
  }

  #logincamera {
    width: 250px;
    height: 250px;
  }

  .hidePassword:hover{
    cursor: pointer;
  }
  .error-box {
    background-color: #ffe3e3;
    border: 1px solid #f44336;
    color: #f44336;
    padding: 10px;
    margin-bottom: 10px;
  }
  a.mat-button {
    text-decoration: none;
    background-color: white;
    color: #6769CC;
  }
  .error-message {
    margin: 0;
  }

  @supports (-moz-appearance:none) {
    :host ::ng-deep .mat-form-field .mat-form-field-suffix .mat-icon,
    :host ::ng-deep .mat-form-field .mat-form-field-prefix .mat-icon {
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
    }
    .accountIcon {
      margin-top: -59px;
    }
    .hidePassword {
      margin-top: -59px;
    }
  }
