.toolbar {
  background-color: #00C5AB;
}

mat-grid-tile {
  border: 1px solid lightgray;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}

.container {
  max-width: 900px;
  max-height: 1400px;
  display: flex;
  justify-content: space-between;
}

/* mat-card {
  background: none;
  border: none;
  box-shadow: none;
} */



.image-layout {
  max-width: 80%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;

}
.search-container {
  position: relative;
}

.search-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-color: none;
}

.cancel-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.example-input {
  height: 36px;
  padding: 0 36px 0 46px;
}
input.example-input {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-color: none;
}

@media (max-width: 768px) {
  .example-input {
    font-size: 1rem;
    padding: 10px 16px;
  }
}

img.image {
  border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -ms-border-radius: 40px 40px 40px 40px;
  -o-border-radius: 40px 40px 40px 40px;
  max-width: 500px;
  max-height: 500px;
}
.search-button.hide {
  display: none;
}

.mat-icon {
  vertical-align: middle;
}

.my-card {
margin-bottom: 20px;
box-sizing: border-box;
border: 3px solid transparent;
background-clip:padding-box;
border-radius: 25px ;
-webkit-border-radius: 25px ;
-moz-border-radius: 25px ;
-ms-border-radius: 25px ;
-o-border-radius: 25px ;
}

.my-mobile-card {
margin-bottom: 20px;
box-sizing: border-box;
border: 3px solid transparent;
background-clip:padding-box;
border-radius: 25px ;
-webkit-border-radius: 25px ;
-moz-border-radius: 25px ;
-ms-border-radius: 25px ;
-o-border-radius: 25px ;
}

/* #specs {
  gap: 10px;
  align-self: flex-end;
  margin-left: 10px;
} */

.Caption {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
  text-align: center;
}

.rating-list li.selected {
  color: #ffd700;
}

.col-gap {
  column-gap: 25px;
}
#mycontainer {
  display: flex;
  flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: flex-start;
  align-items: flex-start;
}

.image {
  cursor: pointer;
}

.matCardCenter {
  margin-left: 50px;
}

.usernameChip {
  color: #000;
  background-color: #E5E4E2;
  box-shadow: #F2F3F4;
  opacity: 70%;
}

.yourUsernameChip {
  color: #000;
  background-color: #828e84;
  box-shadow: #F2F3F4;
  opacity: 50%;

}

.profile-button {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  color: #eee;
}

.profile-button:hover{
  color:#403d39;
  cursor: pointer;
}
@media (max-width: 880px) {
.mobile-image {
  width: 100%;
  margin-bottom: 15px;
}
.mobile.body {
  overflow-x: hidden;
}
}
@media (max-width: 880px) {
.col-gap {
  column-gap: 10px;
  justify-content: center;
}
}
