<!-- <mat-toolbar class="toolbar">
  <span
    ><div class="logo">
      <img
        src="assets/images/macro-white.png"
        width="95px"
        height="55px"
      /></div
  ></span>
  <div class="btn-toolbar pull-right">
    <button mat-button class="btn mr-2" [routerLink]="'/addNewImage'">
      <mat-icon>camera_enhance</mat-icon>Add Image
    </button>
    <button mat-raised-button color="warn" (click)="logout()" class="btn mr-2">
      Logout
    </button>
  </div>
</mat-toolbar> -->

<mat-toolbar class="toolbar d-flex justify-content-between">
  <span
    ><div class="logo">
      <a  [routerLink]="'/homepage'">
      <img
        src="assets/images/macro-white.png"
        width="95px"
        height="55px"
      /></a></div
  ></span>
  <form class="example-form">
    <input type="text"
           placeholder="Search for a user"
           [formControl]="control"
           [matAutocomplete]="auto"
           class="example-input">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
        {{street}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <div class="btn-toolbar pull-right ">
    <div class="tool-button">
    <button mat-button class="upload mr-2" [routerLink]="'/addNewImage'" >
      <mat-icon>add_a_photo</mat-icon>
    </button>
  </div>
    <button mat-raised-button (click)="logout()" class="btn power-off mr-2">
      <mat-icon color="#eee">settings_power</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="container mt-5"  id="mycontainer" gutter="25px">
  <div class="matCardCenter"></div>
  <div class="row col-gap">
  <mat-card class="my-card col-5 align-self-center"  *ngFor="let p of postDetails"
  width="200px" ><span>
    <mat-card-header class="d-flex justify-content-between">
      <img mat-card-avatar src="" alt="username">
        <mat-icon 
matTooltip="Camera Model: {{ p.postCamera }}  |
Lens: {{ p.postLens }}  |
Aperture: {{ p.postAperture }}" 
matTooltipPosition="above" 
matTooltipClass="delay-msg-tooltip">
info
</mat-icon>

      <mat-card-title></mat-card-title>
      <mat-card-subtitle>{{p.userName}}</mat-card-subtitle>
    </mat-card-header>
    <img (click)="postOnFocus(p.postId)" mat-card-image [src]="p.postImages[0].url" class="image">
    <mat-card-content>
      <div class="mt-3">
        <p><b class="Caption">{{ p.postCaption }}</b></p>
      </div>
      <div class="mt-2">
        <p>{{ p.postDescription }}</p>
      </div>
      <div class="mt-2">
        <mat-chip-list><mat-chip>{{ p.postType}}</mat-chip></mat-chip-list>
      </div>
      <!-- <div class="mt-2">
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
      </div> -->
    

          
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </span>
  </mat-card>
  </div>
  </div>
  



