
  <div class="landing-page ">
    <mat-toolbar class="toolbar">
      <span><div class="logo"> <img src="assets/images/macro-white.png" width="95px" height="55px"></div></span>
      <span class="example-spacer"><a [routerLink]="'/login'"><mat-icon class="login">account_circle</mat-icon></a></span>
    </mat-toolbar>
    <div class="container">
      
      <div class="header-area">
      </div>
      <div class="info">
        <h1><b>The Photography <br>Tailored Social Network</b></h1>
        <p>Macro allows you to share your photos whether you are a rookie or an expert <br>Macro is free for everyone</p>
        <div class="buttons">
        <button class ="signup-button" [routerLink]="'/signup'" mat-raised-button>Sign up</button>
        <button class ="login-button" [routerLink]="'/login'" mat-button> Log in</button>
      </div>
      </div>
      <div class="image">
        <img src="assets/images/Camera.png" id="camera">
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
