<div class="landing-page col-sm-12">
  <mat-toolbar class="toolbar d-flex justify-content-between">
    <span><div class="logo"> <img src="assets/images/macro-white.png" width="95px" height="55px"></div></span>
    <span><a [routerLink]="'/login'"><mat-icon class="loginIcon">account_circle</mat-icon></a></span>
  </mat-toolbar>
  <div class="container align-self-center">
    <div class="header-area"></div>
    <div class="row">
      <div class="col-sm-6">
        <div class="info mt-7">
          <h1><b>The Photography <br>Tailored Social Network</b></h1>
          <p>Macro allows you to share your photos whether you are a rookie or an expert <br>Macro is free for everyone</p>
          <div class="row">
            <div class="buttons">
              <button class ="signup-button" [routerLink]="'/signup'" mat-raised-button>Sign up</button>
              <button class ="login-button" [routerLink]="'/login'" mat-button> Log in</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="image mt-4">
          <img [hidden]="isMobileScreenSize() | async" src="assets/images/Camera.png" id="camera">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
