.mat-stepper-horizontal {
    margin-top: 50px;
  }

  .mat-mdc-form-field {
    margin-top: 50px;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  .toolbar{
    background-color: #00C5AB;
}
.login{
  color: azure;
}

#signupcamera {
  width: 400px;
  margin-top: 25px;
}

.signup-icon {
  color: #ffff;
  display: flex;
  align-items: center;
}

.hidePassword:hover{
  cursor: pointer;
}
.signup-page {
  background-color: #FAFAFA !important;
}
.existingAccount {
  background-color: white;
  color: #6769CC ;
}
