

<div class="landing-page">
  <div class="container">
    <div class="header-area">
      <div class="logo"> <img src="assets/images/macro-white.png" width="95px" height="55px"></div>
      <ul class="links">
        <li class="icon"><mat-icon >account_circle</mat-icon></li>
        <li class="text-link">Log In</li>
      </ul>
    </div>
    <div class="info">
      <h1><b>The Photography <br>Tailored Social Network</b></h1>
      <p>Macro allows you to share your photos whether you are a rookie or an expert <br>Macro is free for everyone</p>
      <div class="buttons">
      <button class ="signup-button" mat-raised>Sign up</button>
      <button class ="login-button" mat-button> Log in</button>
    </div>
    </div>
    <div class="image">
      <img src="assets/images/Camera.png" id="camera">
    </div>
    <div class="clearfix"></div>
  </div>
</div>