<div>
  <mat-toolbar class="toolbar d-flex justify-content-between">
    <span>
      <div class="logo">
        <a [routerLink]="'/homepage'">
          <img src="assets/images/macro-white.png" width="95px" height="55px"/>
        </a>
      </div>
    </span>
    <div class="btn-toolbar pull-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="bMenu">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/addNewImage'">
          <mat-icon>add_a_photo</mat-icon> Add Photo
        </button>
        <button mat-menu-item [routerLink]="'/profile'">
          <mat-icon>account_circle</mat-icon> Account
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>settings_power</mat-icon> Logoff
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div [ngClass]="{'col-6':!isMobile, 'col-12': isMobile}">
        <h1>1. Upload a Photo</h1>
          <mat-divider></mat-divider>
          <br>
        <div class=" d-flex justify-content-between">
          <input type="file" name="image" id="image"  value="select" #selectFile
          (change)="onFileSelected($event)" [disabled]="isImageSent || isImageSelected">
          <button class="btn-remove-image"[hidden]="!isImageSelected" mat-raised-button color="warn" *ngFor="let file of imagePost.postImages; let i = index" (click)="removeImages(i)"><mat-icon color="#eee">cancel</mat-icon><span [hidden]="isMobile">Remove</span></button>
        </div>

      <div class="mt-1">
        <div class="row added-image">
          <mat-card class="preview-photo" *ngFor="let file of imagePost.postImages; let i = index">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image [src]="file.url">
          </mat-card>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-6':!isMobile, 'col-12': isMobile}">
        <h1>2.Caption the photo</h1>
          <mat-divider></mat-divider>
          <br>
        <form #postForm = "ngForm" (ngSubmit)="addPost(postForm)">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Image Caption</mat-label>
          <input maxlength="40" matInput placeholder="Enter caption for image" [(ngModel)]="imagePost.postCaption"  name="postCaption" [disabled]="isImageSent"/>
          <mat-icon matSuffix>crop_original</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Image Description</mat-label>
            <input maxlength="50" matInput placeholder="Enter description for image" [(ngModel)]="imagePost.postDescription" name="postDescription" [disabled]="isImageSent" minlength="3" required/>
            <mat-icon matSuffix>code</mat-icon>
          </mat-form-field>
           <mat-form-field appearance="fill" color="#00C5AB">
            <mat-label>Select Type of Photography</mat-label>
            <mat-select [(ngModel)]="selected" [(value)]="selected" [ngModelOptions]="{standalone: true}">
              <mat-option value="Architectural" id="postType" name="postType">Architectural</mat-option>
              <mat-option value="Nature" id="postType" name="postType">Nature</mat-option>
              <mat-option value="Abstract" id="postType" name="postType">Abstract</mat-option>
            </mat-select>
          </mat-form-field>
          <h1>3. Optional: Camera Details</h1>
          <mat-divider></mat-divider>
          <br>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Camera Model</mat-label>
            <input maxlength="20" matInput placeholder="Camera used for photo" [(ngModel)]="imagePost.postCamera"  name="postCamera" [disabled]="isImageSent" minlength="3" required/>
            <mat-icon matSuffix>camera_alt</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Camera Lens</mat-label>
            <input maxlength="20" matInput placeholder="Lens used for image" [(ngModel)]="imagePost.postLens"  name="postLens" [disabled]="isImageSent" minlength="3" required/>
            <mat-icon matSuffix>camera</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Camera Aperture</mat-label>
            <input maxlength="10" matInput placeholder="Camera Aperture Setting" [(ngModel)]="imagePost.postAperture" name="postAperture" [disabled]="isImageSent" minlength="3" required/>
            <mat-icon matSuffix>center_focus_weak</mat-icon>
          </mat-form-field>

          <div align="end">
          <button mat-stroked-button color="primary" style="margin-right: 3px;" [disabled]="isImageSent">Clear</button>
          <button mat-stroked-button color="primary" type="submit" [disabled]="isImageSent || !isFormComplete || postForm.invalid">Add Image</button>
        </div>
        <br>
        <mat-spinner [hidden]="!isImageSent"></mat-spinner>
      </form>
      </div>

    </div>
  </div>
</div>


