.post-info, .cameraTypes, .imagePost, .imageCard, .Back, .photoOnFocus, .imageInfo, h2, .example-form, .example-input, .search-btn, .close-btn, .postInfo, .postCaption, .postDescription, .adminPage, .toolbar, .bMenu, .commentBox .commentUserName, .commentBox .commentBody, .commentBox .commentDate, .commentBox .commentActions, .commentBox .commentActions button:hover, .commentBox .commentActions button:focus, .commentBox .commentActions, .commentBox .commentActions, .commentBox, .addCommentBox, .commentSection, .userNamePostorComment, .adminIcon, .admin {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .post-info, .cameraTypes {
  display: flex;
  align-items: center;
  text-align: center;
  }

  .imagePost {
  max-width: 800px;
  max-height: 650px;
  }

  .imageCard {
  box-shadow: none;
  background: none;
  }

  .Back, .search-btn, .close-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 0;
  }

  .Back {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 60px;
  margin-left: 20px;
  font-size: 16px;
  }

  .photoOnFocus {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  }

  .imageInfo {
  text-align: center;
  padding: 10px;
  }

  h2 {
  font-size: 44px;
  }

  .example-form {
  display: flex;
  align-items: center;
  }

  .example-input {
  flex-grow: 1;
  }


  @media only screen and (max-width: 880px) {
  .logo {
  margin-bottom: 10px;
  }

  .btn-toolbar {
  margin-top: 10px;
  }

  .Back {
  font-size: 16px;
  }

  .container {
  padding: 10px;
  }

  .post-info, .cameraTypes {
  margin-bottom: 10px;
  }

  .cameraTypes {
  font-size: 14px;
  }

  .comments-section {
  margin-top: 10px;
  }

  .comment {
  margin-bottom: 10px;
  }

  .add-comment {
  margin-top: 10px;
  }

  textarea {
  width: 100%;
  }

  .imagePost {
  width: 100%;
  max-width: 800px;
  max-height: 900px;
  }
  }

  .commentBox .commentUserName {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .commentBox .commentBody {
  margin-top: 5px;
  }

  .commentBox .commentActions {
  margin-top: 5px;
  }
