<div class="adminPage col-sm-12"><mat-toolbar class="toolbar d-flex justify-content-between">
  <div class="logo">
    <a [routerLink]="'/admin'">
      <img src="assets/images/macro-white.png" width="95px" height="55px" />
    </a>
  </div>
  <span class="adminIcon mr-3">
    <mat-icon>adb</mat-icon> Admin
  </span>
  <div class="btn-toolbar pull-right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="bMenu">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/adminAddNewPost'">
        <mat-icon>add_a_photo</mat-icon> Add Photo
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>settings_power</mat-icon> Logoff
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="Back mt-3" [routerLink]="'/admin'">
  <mat-icon>arrow_back</mat-icon>Back
</div>

<div class="container mt-5">
  <div class="row">
    <div class="photoOnFocus col-12">
      <mat-card class="imageCard" *ngFor="let file of imagePost?.postImages">
        <img class="imagePost" [src]="file.url">
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="imageInfo col-12">
      <div class="post-info">
        <mat-card>
          <mat-card-content>
            <div class="postInfo">
            <div class="mt-3">
              <h2 class="postCaption">{{imagePost?.postCaption}}</h2>
            </div>
            <div class="mt-3">
              <h4 class="postDescription">{{imagePost?.postDescription}}</h4>
            </div>
            <div class="mt-3">
              <p>By <b>{{imagePost?.userName}}</b></p>
            </div>
            <div class="mt-3">
              <span class="cameraTypes d-flex justify-content-center">
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Architectural'">
                  <mat-icon style="vertical-align: middle;">location_city</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Nature'">
                  <mat-icon style="vertical-align: middle;">terrain</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Abstract'">
                  <mat-icon style="vertical-align: middle;">photo_filter</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Macro'">
                  <mat-icon style="vertical-align: middle;">lens</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Food'">
                  <mat-icon style="vertical-align: middle;">restaurant</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Sports'">
                  <mat-icon style="vertical-align: middle;">pool</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Portrait'">
                  <mat-icon style="vertical-align: middle;">photo_album</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Landscape'">
                  <mat-icon style="vertical-align: middle;">panorama</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Black & White'">
                  <mat-icon style="vertical-align: middle;">brightness_6</mat-icon>
                </span>
                <span class="postTypeIcon" *ngIf="imagePost?.postType == 'Announcement'">
                  <mat-icon style="vertical-align: middle;">notifications</mat-icon>
                </span>
                {{ imagePost?.postType}}
              </span>
              <span class="cameraTypes d-flex justify-content-center mt-1"><mat-icon>camera_alt</mat-icon> {{imagePost?.postCamera}}</span>
              <span class="cameraTypes d-flex justify-content-center mt-1"><mat-icon>camera</mat-icon>{{imagePost?.postLens}}</span>
              <span class="cameraTypes d-flex justify-content-center mt-1"><mat-icon>center_focus_weak</mat-icon>{{imagePost?.postAperture}}</span>
              <span class="cameraTypes d-flex justify-content-center mt-1"><mat-icon>photo_filter</mat-icon>{{imagePost?.postPhotoshop}}</span>
            </div>
          </div>
          </mat-card-content>
          <!-- Add Comment code here-->
          <mat-divider></mat-divider>
          <div class="mt-4">
            <div class="d-flex justify-content-center">
            <h2 class="commentSection d-flex align-items-center"><mat-icon matBadge="{{ filteredCommentsLength }}" matBadgePosition="before" matBadgeColor="accent">forum</mat-icon> Comments</h2></div>

            <mat-list class="d-flex flex-column align-items-left justify-content-center">
              <mat-list-item *ngFor="let comment of filteredComments" class="d-flex flex-column align-items-lg-start">
                <div class="commentBox">
                  <div class="commentUserName"><b>{{comment.commentUsername}}</b><b>:</b> {{comment.comment}} <button mat-icon-button color="warn" aria-label="Delete" (click)="deleteComment(comment)">
                    <mat-icon>delete</mat-icon>
                  </button></div>
                </div>
              </mat-list-item>
            </mat-list>
            <mat-card class="addCommentBox mx-auto mt-4">
            <mat-form-field>
              <input matInput [(ngModel)]="newComment.comment" placeholder="Add a comment">
            </mat-form-field>
            <button mat-icon-button (click)="submitComment()" [disabled]="newComment.comment.length < 3 || newComment.comment.length > 30" class="sendComment"><mat-icon>send</mat-icon></button>
          </mat-card>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</div>
