@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, html {
  margin: 0 !important;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FAFAFA !important;
}
.logo {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.loginIcon{
  color: azure;
  /*height: 60px !important;
  width: 60px !important;
  */display: flex;
  align-items: center;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.upload {
  cursor: pointer !important;
  background-color: #010101 !important;
  color: #eee !important;
}

.tool-button{
  margin-right: 25px;
}

.mat-dialog-container {
  background: none !important;
  box-shadow: none !important;
}

.toolbar {
  background-color: #00C5AB;
  position: sticky;
position: -webkit-sticky;
top: 0; /* required */
z-index: 1000;
}

.bMenu{
  color: #FAFAFA !important;
}

.sendComment {
  color: #00C5AB;
}
.sendComment:disabled {
  color: #e0e1dd !important;
}
