@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0 !important;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FAFAFA !important;
}

/* .container{

  max-height: 95vh;
} */
.logo {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.loginIcon{
  color: azure;
  /*height: 60px !important;
  width: 60px !important;
  */display: flex;
  align-items: center;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.power-off {
  background-color: #f9614d !important;
  color: #eee !important;
}

.power-off:hover{
  background-color: #f44336 !important;
  color: #eee !important;

}

.upload {
  cursor: pointer !important;
  background-color: #010101 !important;
  color: #eee !important;
}

.tool-button{
  margin-right: 25px;
}

.mat-dialog-container {
  background: none !important;
  box-shadow: none !important;
}

.toolbar {
  background-color: #00C5AB !important;
  position: sticky !important;
position: -webkit-sticky !important;
top: 0 !important; /* required */
z-index: 1000 !important;

}

.bMenu{
  color: #FAFAFA !important;
}

.sendComment {
  color: #00C5AB;
}
.sendComment:disabled {
  color: #e0e1dd !important;
}
